@import "../../styles/default.scss";

.UserDetails {
  margin: 0;
  padding: 0;
  width: 100%;
}

label {
  display: block;
  font-size: $label-size;
  line-height: $label-height;
  margin-bottom: 3px;
}

.formDiv {
  display: block;
  width: 100%;
  border: 1px solid $form-border;
  border-radius: $box-radius;
  padding: 19px 6px 19px 12px;
  margin: 20px 0px;
  box-sizing: border-box;
}

textarea,
input[type="email"],
input[type="text"] {
  display: block;
  width: 210px;
  border: 1px solid $form-border;
  border-radius: $input-radius;
  padding: 5px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: $input-size;
  line-height: $input-height;
}

input[type="email"]:invalid,
input[type="text"]:invalid {
  border: 2px solid $form-alert;
}

textarea {
  width: 100%;
  height: 55px;
  resize: none;
}